---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "ホームページ";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>年末までに攻略</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
